* {
  padding: 0;
  margin: 0; }

body {
  background-color: #f2f2f2; }

.link-inherit {
  text-decoration: none;
  color: inherit; }

.fg-1 {
  flex-grow: 1; }

input[type="number"] {
  text-align: center;
  padding-left: 10px; }

.basket .MuiInput-underline:before {
  content: none !important; }

.basket .MuiInput-underline:after {
  content: none !important; }

.basket-items {
  max-height: 274px;
  overflow: hidden;
  overflow-y: scroll; }

.basket-items-footer {
  height: 70px; }
